.box-shadow {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.animated_container {
  animation: appear .7s ease-in;
}

.animated_view_component {
  animation: appear .5s ease-in;
}

.animated_view_component-2 {
  animation: appear .9s ease-in;
}

.animated_view_component-3 {
  animation: appear 1.2s ease-in;
}

.animated_view_component-4 {
  animation: appear 1.8s ease-in;
}

.animated_view_component-5 {
  animation: appear 2.2s ease-in;
}

.custom-text {
  color: #0000;
}

.dashboard-container {
  height: 95vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.custom_radius {
  border-top-right-radius: 20px;
}

.custom-link {
  text-decoration: none;
}

/* NOTE: Animación de aparición del formulario 🤓 */
@keyframes appear {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}

/* Custom media querys */
@media(max-width: 580px) {
  .custom-dimensions {
    display: none;
  }
}

/* TODO: Al terminar de crear las views adaptar la interfaz */